
<div class="container">
  <h4 class="text-center", style="width:120px; margin:30px 0 0 115px;"><b>商品一覧</b></h4>
    <div class="text-right">
  <%= link_to new_admin_item_path, style:"margin-left:1000px; font-size: 50px; color:#555;" do %>
      <i class="fas fa-plus-circle"></i>
  <% end %>
  <div class ="row">
    <div class="col-12">
      <table class="table" >
        <thead class="table-area">
          <tr class="table-active">
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
         <tbody>
           <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td class="text-decoration:underline">
                <%= link_to admin_item_path(item.id),style:"text-decoration:underline;" do %>
                <%= item.name %>
                <% end %>
              </td>

              <td><%= item.price.to_s(:delimited) %></td>
              <td><%= item.genre.name %></td>

              <!--販売ステータス-->
              <% if item.is_active == true %>
                <td class="text-success font-weight-bold">販売中</td>
              <% else %>
                <td class="text-secondary font-weight-bold">販売停止中</td>
              <% end %>
            </tr>
              <% end %>
          </tbody>
      </table>
       <div class="mx-auto" style="width: 200px;"><%= paginate @items %></div>
      </div>
    </div>
  </div>
</div>