<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h4>注文履歴詳細</h4>
      <table class="table table-sm table-borderless">
        <tr>
          <td scope="col", style="width: 25%"><strong>購入者</strong></td>
          <td><%= link_to admin_customer_path(@order.customer),style:"text-decoration:underline;" do %>
                <%= @order.customer.full_name %>
              <% end %>
          </td>
        </tr>
        <tr>
          <td><strong>注文日</strong></td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td><strong>配送先</strong></td>
          <td>〒<%= @order.postal_number %><%= @order.address %><br>
              <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td><strong>支払方法</strong></td>
          <td><%= Order.payment_methods_i18n[@order.payment_method] %></td>
        </tr>
        <tr>
          <td><strong>注文ステータス</strong></td>
          <td><%= form_with(model: @order, url: admin_order_path(@order), local: true, class: "form-row") do |f| %>
                <%= f.select :status, Order.statuses_i18n.invert, {prompt: false} %>
                　<%= f.submit "更新", class: "btn btn-sm btn01" %>
              <% end %>
          </td>
        </tr>
      </table>
    </div>

  </div>


  <div class="row">
    <div class="col-lg-8">
      <table class="table table-borderless">
         <thead class="table-area">
           <tr>
             <th><strong>商品名</strong></th>
             <th><strong>単価（税込）</strong></th>
             <th><strong>数量</strong></th>
             <th><strong>小計</strong></th>
             <th><strong>制作ステータス</strong></th>
           </tr>
         </thead>
         <tbody>
         <% @order_details.each do |order_detail| %>
           <tr>
             <td><%= order_detail.item.name %></td>
             <td><%= order_detail.item.with_tax_price.to_s(:delimited) %></td>
             <td><%= order_detail.amount %></td>
             <td><%= (order_detail.item.with_tax_price*order_detail.amount).to_s(:delimited) %></td>
             <td><%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), local: true, class: "form-row" do |f| %>
                   <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert, {prompt: false} %>
                   　<%= f.submit "更新", class: "btn btn-sm btn01" %>
                 <% end %>
             </td>
           </tr>
         </tbody>
         <% end %>
      </table>
    </div>
    <div class="col-lg-1"></div>

    <div class="col-lg-3 align-self-end">
      <table class="table table-borderless">
        <tr>
          <td><strong>商品合計</strong></td>
          <td class="text-right"><%= @total_price.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <td><strong>送料</strong></td>
          <td class="text-right"><%= @shipping_cost %>円</td>
        </tr>
        <tr>
          <td><strong>請求金額合計</strong></td>
          <td class="text-right"><strong><%= @order.total_payment.to_s(:delimited) %>円</strong></td>
        </tr>
      </table>
    </div>
  </div>
</div>





